body {
    background-color: #8EA5BE;
    color: #07080B;
    font-family: fantasy;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1 {
    font-size: 2.5em;
    color: #3C585A;
    font-family: cursive;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    h1 {
        font-size: 3em
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    h1 {
        font-size: 3.5em
    }
}
@media screen and (min-width : 1200px) {
    h1 {
        font-size: 4em
    }
}
h2 {
    font-size: 2.25em;
    color: #3C585A;
    font-family: cursive;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    h2 {
        font-size: 2.75em
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    h2 {
        font-size: 3.25em
    }
}
@media screen and (min-width : 1200px) {
    h2 {
        font-size: 3.75em
    }
}
h3 {
    color: #107275;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    h3 {
        font-size: 2.5em
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    h3 {
        font-size: 3em
    }
}
@media screen and (min-width : 1200px) {
    h3 {
        font-size: 3.5em
    }
}
#footwrap h3 {
    padding-bottom: 50px;
}
h4 {
    color: #0F4142;
    font-weight: bold;
    text-align: left;
    font-size: 1.50em;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    h4 {
        font-size: 2em
    }
    #footwrap h4 {
        font-size: 1.5em;
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    h4 {
        font-size: 2.5em
    }
    #footwrap h4 {
        font-size: 2em;
    }
}
@media screen and (min-width : 1200px) {
    h4 {
        font-size: 3em
    }
    #footwrap h4 {
        font-size: 2.5em;
    }
}
#footwrap h4 {
    color: #AEB404;
    text-align: center;
    font-size: 1em;
}
h5 {
    color: #0F4142;
    text-align: left;
    font-style: italic;
    font-size: 1.25em;
    min-height: 2.5em;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    h5 {
        font-size: 1.75em
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    h5 {
        font-size: 2.25em
    }
}
@media screen and (min-width : 1200px) {
    h5 {
        font-size: 2.75em
    }
}
p {
    color: #07080B;
    text-align: left;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    p {
        font-size: 1.2em;
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    p {
        font-size: 1.5em;
    }
}
@media screen and (min-width : 1200px) {
    p {
        font-size: 2em;
    }
}
.p-center {
    text-align: center;
}
img {
    width: 50px;
    border-radius: 15%;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    img {
        width: 100px;
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    img {
        width: 100px;
    }
}
@media screen and (min-width : 1200px) {
    img {
        width: 100px;
    }
}
.icon-soc {
    text-align: center;
}
a {
    color: #AEB404;
}
#footwrap a {
    font-size: 3em;
}
#footwrap {
    padding-bottom: 100px;
    background-color: #222325;
}
@media screen and (min-width : 768px) and (max-width: 991px) {
    #footwrap {
        padding-bottom: 300px;
    }
}
@media screen and (min-width : 992px) and (max-width: 1999px) {
    #footwrap {
        padding-bottom: 300px;
    }
}
@media screen and (min-width : 1200px) {
    #footwrap {
        padding-bottom: 300px;
    }
}
#headerwrap {
	text-align:center;
	background-attachment: relative;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    padding-bottom: 20px;
}
.row {
    padding-bottom: 30px;
    text-align: center;
}
.desc {
    padding-top: 35px;
}
.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}
.padd-bott {
    padding-bottom: 50px;
}
