@media screen and (max-width : 768px) {
    h1 {
      	color: #0F4142;
        font-family: cursive;
        font-size: 2em;
        font-weight: bold;
        padding-top: 50px;
        text-align: center;
    }
    h2 {
        color: #107275;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }
    h3 {
        color: #07080B;
        font-size: 1.25em;
        text-align: center;
    }
    h4 {
        color: #0F4142;
        font-size: 1em;
        text-align: center;
    }
    p {
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    a {
        color: #890E00;
    }
    strong {
    }
    em {
    }
    img {
        width: 50px;
    }
    .desc {
        padding-top: 35px;
    }
}

@media screen and (min-width : 769px) and (max-width: 992px) {
    h1 {
      	color: blue;
        font-family: cursive;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
        text-decoration: underline;
        font-weight: bold;
        padding-top: 25px;
        padding-left: 10px;
        text-align: left;;
        text-decoration: underline;
    }
    h3 {
        font-size: 1.25em;
        text-align: left;
    }
    h4 {
        font-size: 1em;
    }
    a {
        color: blue;
    }
    strong {
    }
    em {
    }
    img {
        width: 100px;
    }
}

@media screen and (min-width : 993px) and (max-width: 1200px) {
    h1 {
      	color: blue;
        font-family: cursive;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
        text-decoration: underline;
        font-weight: bold;
        padding-top: 25px;
        padding-left: 10px;
        text-align: left;;
        text-decoration: underline;
    }
    h3 {
        font-size: 1.25em;
        text-align: left;
    }
    h4 {
        font-size: 1em;
    }
    a {
        color: blue;
    }
    strong {
    }
    em {
    }
    img {
        width: 150px;
    }
}

@media screen and (min-width : 1201px) {
    h1 {
      	color: blue;
        font-family: cursive;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
        text-decoration: underline;
        font-weight: bold;
        padding-top: 25px;
        padding-left: 10px;
        text-align: left;;
        text-decoration: underline;
    }
    h3 {
        font-size: 1.25em;
        text-align: left;
    }
    h4 {
        font-size: 1em;
    }
    a {
        color: blue;
    }
    strong {
    }
    em {
    }
    img {
        width: 175px;
    }
}

body {
    background-color: #87A598;
    color: #07080B;
    font-family: fantasy;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.p-center {
    text-align: center;
}

#headerwrap {
    padding-left: 5px;
    padding-right: 5px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footwrap {
    background-color: #07080B;
    padding-bottom: 50px;
}

#footwrap p {
    color: white;
}
#footwrap h3 {
    color: white;
}

.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}
.img-rad {
    border-radius: 15%;
}
