@media screen and (max-width : 767px) {
    h1 {
      	color: #0F4142;
        font-family: cursive;
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 50px;
        text-align: center;
    }
    h2 {
      	color: #0F4142;
        font-family: cursive;
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 50px;
        text-align: center;
    }
    h3 {
        color: #107275;
        font-size: 2em;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }
    h4 {
        color: #07080B;
        font-size: 1.25em;
        text-align: center;
    }
    h5 {
        color: #0F4142;
        font-size: 1em;
        text-align: center;
    }
    p {
        text-align: center;
    }
    a {
        color: #890E00;
    }
    img {
        width: 50px;
    }
    .desc {
        padding-top: 35px;
    }
    .container {
        padding-bottom: 20px;
    }
    .row {
        padding-bottom: 30px;
    }
    #footwrap {
        background-color: #07080B;
        padding-bottom: 275px;
    }
    #footwrap h3 {
        padding-bottom: 50px;
}
    .icon-soc {
        font-size: 30px;
        text-align: center;
        padding-bottom: 55px;
    }
}

@media screen and (min-width : 768px) and (max-width: 991px) {

}

@media screen and (min-width : 992px) and (max-width: 1999px) {

}

@media screen and (min-width : 1200px) {

}

body {
    background-color: #87A598;
    color: #07080B;
    font-family: fantasy;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.p-center {
    text-align: center;
}

#headerwrap {
	text-align:center;
	background-attachment: relative;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 .padding-div {
     padding-top: 30px;
 }
#footwrap p {
    color: white;
}
#footwrap h4 {
    color: white;
}
.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}
.img-rad {
    border-radius: 15%;
}
